/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }

    .toggle-menu {
        display: none;
    }

    .show-on-tablet-mobile {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {

    /* Heading */
    .section-heading {
        font-size: 3.4rem;
    }

    .section-desc {
        font-size: 1.6rem;
    }

    /* -- Header -- */
    .navbar {
        position: relative;
    }

    .header-top .logo {
        position: absolute;
        top: 40%;
        left: 45%;
        transform: translate(-40%, 45%);
    }

    .navbar__list {
        display: none;
    }

    .toggle-menu svg {
        display: block;
        width: 24px;
        color: #fff;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.6s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #10375C;
        z-index: 2;
        padding: 60px;
        transform: translateX(-100%);
        transition: 0.6s ease;
    }

    .menu-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-drawer .x-mark svg {
        width: 20px;
    }

    .x-mark {
        fill: #fff;

    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 20px 0;
        font-weight: 400;
        color: #fff;
    }

    .menu-checkbox:checked~.menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked~.menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1px solid #666;
    }

    /* Hero */
    .hero {
        padding: 76px 0;
    }

    .hero__inner {
        flex-direction: column;
    }

    .hero__content {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .hero__heading {
        font-size: 5rem;
    }

    .hero__desc {
        font-size: 1.6rem;
    }

    .hero__row {
        justify-content: center;
    }

    .hero__media {
        width: 100%;
        margin-top: 60px;
    }

    .hero__images {
        justify-content: space-between;
    }

    .hero__img:first-child,
    .hero__img:last-child {
        width: 49%;
    }

    .hero__img:first-child {
        height: 470px;
    }

    /* Service */
    .service {
        overflow: hidden;
    }

    .service__row {
        flex-direction: column;
    }

    .service__list {
        margin-top: 30px;
    }

    .service-item {
        margin-top: 20px;
        width: 100%;
    }

    .service__cta {
        display: flex;
        justify-content: center;
    }

    /* Work */
    .work__list {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .work__heading,
    .work__desc,
    .feature__content {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    /* Feature */
    .feature__inner {
        flex-direction: column-reverse;
    }

    .feature__media {
        margin-top: 50px;
        width: 100%;
    }

    /* Member */
    .member__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .member-item__thumb {
        display: inline-block;
    }

    .control__btn {
        width: 40px;
        height: 40px;
    }

    /* Install */
    .install {
        margin-top: 20px;
    }

    .install__img {
        display: none;
    }

    .install__content {
        padding: 40px 0;
    }

    /* News */
    .news__inner {
        flex-direction: column;
    }

    .news__content {
        text-align: center;
    }

    .control {
        justify-content: center;
    }

    .news__list {
        margin-top: 50px;
    }

    /* Footer */
    .footer__row {
        grid-template-columns: 1fr 1fr;
    }

    .footer__copyright {
        margin-top: 30px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {

    /* Heading */
    .section-heading {
        font-size: 3rem;
    }

    .section-desc {
        font-size: 1.4rem;
    }

    .work__heading,
    .work__desc,
    .feature__content {
        width: 100%;
    }

    /* Common */
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .header-action {
        display: none;
    }

    /* Hero */
    .hero__heading {
        font-size: 3.4rem;
    }

    .hero__desc {
        font-size: 1.4rem;
    }

    .hero__row {
        display: flex;
        flex-direction: column;
    }

    .hero__phone {
        margin: 10px 0 0;
    }

    .hero__img:first-child {
        width: 100%;
    }

    .hero__img:last-child {
        display: none;
    }

    /* Service */


    .service__desc,
    .service__img {
        width: 100%;
        height: auto;
    }

    .service-item {
        display: flex;
        align-items: center;
    }

    .service-item__desc {
        display: none;
    }

    .service-item__heading {
        font-weight: 500;
    }

    /* Work */
    .work-item__icon {
        width: 40px;
    }

    .work-item__heading {
        font-size: 2.4rem;
    }

    /* Feature */
    .feature__img:last-child {
        display: none;
    }

    .feature__images {
        padding: 0;
    }

    .feature__img:first-child {
        width: 100%;
    }

    /* Member */
    .member__list {
        grid-template-columns: 1fr;
    }

    /* Install */
    .install__inner {
        padding: 0 40px;
    }

    .install__content {
        width: 100%;
    }

    /* News */
    .news__list {
        grid-template-columns: 1fr;
    }

    /* Appoinment */
    .appointment__inner {
        padding: 40px 35px;
    }

    /* Footer */
    .footer__row {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}